<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <input type="submit" class="button-3" id="submit" value="Make DB"></input>
    <script src="../public/javascripts/setupDB.js"></script>
  </body>

  
</html>
